<div class=" card-columns">
    <div class=" card">
        <img class=" card-img-top" src="" alt=" card image cap">
        <div class=" card-body">
            <h5 class=" card-title"> Card Title </h5>
            <p class=" card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, cupiditate? a </p>

        </div>
    </div>
</div>























<!-- ejemplo de como trabajar con peticiones get -->

<!-- <ul>
    <li *ngFor="let pais of paises">

        {{ pais.name}} -  {{ pais.population | number}}

    </li>
</ul> -->