<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light">CLASS="STUDY"</h4>
        </div>
        <div class="menu">
            <a href="" class="d-block p-3 text-light"><i class="fa fa-dashboard mr-2 lead fa-6x"></i>Tablero</a
      >
      <a href="" class="d-block p-3 text-light"
        ><i class="fa fa-users mr-2 lead fa-6x"></i>Usuario</a
      >
      <a href="" class="d-block p-3 text-light"
        ><i class="fa fa-laptop mr-2 lead fa-6x"></i>Estadisticas</a
      >
      <a href="" class="d-block p-3 text-light"
        ><i class="fa fa-user mr-2 lead fa-6x"></i>Perfil</a
      >
      <a href="" class="d-block p-3 text-light"
        ><i class="fa fa-laptop mr-2 lead fa-6x"></i>Configuracion</a
      >
    </div>
  </div>
</div>